[submodule "bundle_1/nerdtree"]
	path = bundle_1/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle_1/YouCompleteMe"]
	path = bundle_1/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle_1/lightline.vim"]
	path = bundle_1/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle_1/vim-pathogen"]
	path = bundle_1/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle_1/vim-gitgutter"]
	path = bundle_1/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle_1/dracula-theme"]
	path = bundle_1/dracula-theme
	url = https://github.com/dracula/vim.git
